/ARCAT_Scraped_Data.xlsx
/ARCAT_Scraped_Data_20251229_195304.xlsx
/ARCAT_Scraped_Data_Partial.xlsx
/Building product categories for arcat (1).xlsx
/checkpoints
/__pycache__
/~$ARCAT_Scraped_Data.xlsx
/~$ARCAT_Scraped_Data_20251229_195304.xlsx